body {
	text-align: center;
}
h1 {
	font-family: "raleway"
	color:#0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
a {
	font-size: "raleway"
	color:#f15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}
h2 {
	font-size: "raleway"
	color:#0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family:"Droid Serif", Serif;
	line-height: 26px;
	font-size: 18px;
}